@media (max-width: 1024px) {

    .nav_toggle {
        display: inline-block;
    }

    .header .nav ul  {
        display: none;
    }

    #nav_toggle:checked ~ ul {
        display: flex;
        flex-direction: column;
    }

    .header .nav ul li:not(:last-child) {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .nav ul {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(9, 9, 9);
        opacity: .7;

        padding: 5%;
        min-width: 100px;
        height: 100%;
    }

    .portfolio {
        height: 1700px;
        background-color: #f7f7f7;
    }

    .img_desk, .img_con {
        padding-right: 550px;
    }
    
    .img_sea, .img_hik {
        padding-left: 550px;
    }

    .team .team_bot {
        padding-left: 100px;
    }
}

@media (max-width: 768px) {

    .header_promo {
        height: 800px;
    }

    .portfolio_item {
        padding-right: 10px;
        
    }

    .img_desk, 
    .img_con {
        padding-right: 450px;
    }

    .img_sea, 
    .img_hik {
        padding-left: 450px;
    }

    .ab_us {
        height: 2100px;
    }

    .team_top {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: auto;
        flex-direction: column;
        align-items: center;
    }

    .team {
        height: 2000px;
        background-color: #f9f9f9;
    }

    .team_top .team_item:not(:last-child) {
        padding-right: 0; 
    }

    .team_top .team_item {
        margin-bottom: 50px;
    }

    .team .team_bot {
        padding-left: 15px;
    }

    .form_wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .field input {
        margin-right: 0;
    }

    .contact_us {
        height: 1150px;
    }

    .contact_us
    .form {
        width: 455px;
        padding-left: 0;
    }

    .contact_message .field textarea {
        margin-top: 50px;
    }

    .contact_us .form {
    margin: auto;
    }

    .socials {
        margin-top: -20px;
        margin-right: 0;
    }
}

@media (max-width: 426px) { /*Почему не работает, когла указываю max-width: 425px? Работает только, если указать большее значение (например, не 425п, а 426п). И так со всеми разрешениями меньше 768п. */

    .header_promo {
        background-position: center;
        background-repeat: no-repeat;
        height: 800px;
    }

    .promo .promo_wrapper .promo_content h3 {
        font-size: 30px;
    }

    .promo_content p {
        font-size: 14px;
    }

    .services .services_list {
        display: flex;
        flex-flow: column wrap;
    }

    .services {
        height: 1100px;
    }

    .services h5 {
        padding-bottom: 10px;
        padding-top: 15px;
    }

    .portfolio h2, .ab_us h2, .team h2 {
        padding-top: 140px;
    }
    
    .portfolio {
        height: 2900px;
    }

    .portfolio h2, .ab_us h2, .team h2 {
        padding-top: 100px;
    }

    .ab_us {
        height: 2600px;
    }

    .ab_us .ab_us_item .ab_us_item_wrapper {  
        background-position: top; 
        padding-top: 150px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .ab_us .ab_us_item .ab_us_item_wrapper p {
        text-align: center;
    }
    
    .img_desk, .img_con {
        padding-right: 0;
    }

    .img_sea, .img_hik {
        padding-left: 0;
    }

    .team {
        height: 2100px;
    }

    .team .team_bot {
        padding-left: 0;
        height: 400px;
        text-align: center;
    } 
    
    .contact_form, .contact_message {
        display: flex;
        flex-flow: column wrap;
    }
    .field input {
        width: 340px;
    }

    .contact_message textarea {
        width: 340px;
    }

    .button {
        margin-left: 10%;
    }

    .foot-wrapper {
        display: flex;
        flex-flow: column wrap;
    }

    .socials {
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .footer .foot_copy {
        text-align: center;
        margin-bottom: 30px;
    }

    .contact_us {
        height: 1100px;
        background-size: cover;
        background-position: 70% 50%;

    }

    .button {
        margin-bottom: 0;
    }
}

@media (max-width: 375px) {
    
    .header .nav_toggle {
        margin-left: 130px;
    }

    .promo_content p {
        font-size: 44px;
    }

    .field input {
        width: 300px;
    }

    .contact_message textarea {
        width: 300px;
    }

    .button {
        margin-left: 5%;
    }

    .services p,
    .contact_us p {
        padding: 0 10px;
    }

    .contact_us h2 {
        font-size: 30px;
    }

    .field input {
        width: 240px;
    }

    .contact_message textarea {
        width: 240px;
    }

    .button {
        margin-left: 0;
    }

}

@media (max-width: 320px) {
    .ab_us .ab_us_item .ab_us_item_wrapper p {
        font-size: 13px;
    }
}
    

